*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #d0eaff;
    display: flex;
    align-items: center;justify-content: center;
}
.product{
    width: 90%;
    max-width: 750px;
    display: flex;
}

.gallery{
    position: relative;
    flex-basis: 47%;
    background: #241e20;
    transform: scale(1.08);
    box-shadow: -10px 5px 10px 10px rgba(0 0 0 0.1);
}
.gallery img{
    width: 100%;
    display: block;
    padding-top: 100px;
}
.details{
    flex-basis: 53%;
    background: white;
    padding: 40px;
    padding-left: 60px;
    box-shadow: -10px 5px 10px 10px rgba(0 0 0 0.1);
    font-size: 13px;
    font-weight: 500;
    color: #777;

}

.details h1{
    font-size: 35px;
    color: #333;
}
.details h2{
    font-size: 30px;
    color: #555;
    font-weight: 600;
    margin-top: 13px;

}
.details h3{
    color: #00d874;
    margin-bottom: 20px;
    margin-top: 12px;
}


.details form{
    font-size: 14px;
    font-weight: 400;
}
.size-select{
    display: flex;
    margin-top: 50px;
    align-items: center;

}
.size-select p {
    width: 70px;
}
.size-select input:checked +span {
    color: blue;
    font-weight: 600px;
}
.size-select input{
    display: none;

}
.size-select span{
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.color-select{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.color-select p{
    width: 75px;
}
.color-select span{
    display: inline-block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 15px;
}
.color-1{
    background: red;
}
.color-2{
    background: green;
}
.color-3{
    background: blue;
}
.color-4{
    background: pink;
}

.color-select input{
    display: none;
}

.color-select input:checked + span{
    transform: scale(0.7);
    box-shadow: 0 0 0 4px #fff , 0 0 0 6px black;
}

.quantity-select {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.quantity-select p{
    width: 75px;

}
.quantity-select input{
    padding: 2px 2px 2px 15px;
    border: 0;
    outline: 0;
    width: 50px;
    background: #eee;
    border-radius: 15px;
}
form button{
    background: #553ff0;
    color: #fff;
    border-radius: 30px;
    border: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    font-size: 17px;
    margin-top: 50px;
    box-shadow: o 10px 10px rgba(85,63,240,0.25);
    cursor: pointer;
}
.controls{
    position: absolute;
    bottom: 40px;
    right: 20px;
}
.btn {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(255, 255, 255,0.5);
    margin: 10px;
    cursor: pointer;
}
.btn.active{
    background: #553ff0;
}